
# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c3F1YXJlLWRpbm9zYXVyLTQzLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_ws373S5cb9BqvwPPTj5opOotWI5xBh9MAi0hqT3azL

# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=local:local-moulyagu-app_d9fa8 # team: moulyagu, project: app-d9fa8

NEXT_PUBLIC_CONVEX_SITE_URL=http://127.0.0.1:3211
VITE_CONVEX_URL=https://youthful-guanaco-358.convex.cloud